
<ion-header>

  <ion-navbar>
    <ion-title>photo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>{{adresseImage}}</p>




<ion-card>

  <ion-item>
    
    <h2>Prendre des photos</h2>
    <p *ngIf="base64Image !== 'rien'">{{ base64Image }}</p>
	<p *ngIf="adresseImage !== 'coucou'">{{ adresseImage }}</p>
  </ion-item>

<img *ngIf="base64Image !== 'rien' " [src]="base64Image"/>
<img *ngIf="adresseImage !== 'coucou'" [src]="adresseImage"/>

  <ion-card-content>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button (click)="TakePicture()" ion-button icon-left clear small>
        <ion-icon name="camera"></ion-icon>
        <div>photo</div>
      </button>
    </ion-col>
    <ion-col>
      <button *ngIf="base64Image !== 'rien'" (click)="EnvoiPicture()" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>envoyer</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>





</ion-content>
